*
{
    margin				: 0;
    padding				: 0;
    outline				: none;
}

body
{
	font				: normal 12px/18px Arial , Tahoma;
	color				: #3a3a3a;
	overflow-x			: hidden;
    background-color    : #000;
}



input[type=button] , button
{
    cursor                  : pointer;
}

a
{
	text-decoration     : none;
	color				: #508dd0;
}

a:hover
{
    color               : #306df0;
}

a.status_selected
{
    color               : #c90;
}


	a img
	{
		border			: 0;
	}

.small
{
    font-size           : 11px;
}
	

.left
{
	float				: left;
}

.right
{
	float				: right;
}

.clear
{
	clear				: both;
}

.clear_left
{
	clear				: left;
}

.clear_right
{
	clear				: right;
}

.inline_block
{
	display				: inline-block;
}

.center_text
{
    text-align          : center;
}

.vertical_middle
{
    vertical-align      : middle;
}

.large
{
    font-size           : 15px;
}



.black
{
    color               : #000;
}

.blue
{
    color               : #088FBC;
}

.light_gray
{
    color               : #666;
}



    h1
    {
        font-weight         : normal;
        font-size           : 20px;
        color               : #088fbc;
        margin-bottom       : 20px;
    }

    
.central_margin
{
	margin				: 0 auto;
	width				: 1000px;
}

.red
{
    color               : #ff7d00;
}

table
{
	border-collapse		: collapse;
}


button , .button
{
    background-image        : url('../images/button_main.png');
    background-repeat       : repeat-x;
    background-color        : transparent;
    color                   : #31deee;
    text-shadow             : 0 0 1px #000000;
    font-size               : 12px;
    border                  : none;
    padding                 : 0 15px 3px 15px;
    line-height             : 18px;
    display                 : inline-block;
    cursor                  : pointer;
    
    -webkit-border-radius	: 3px;
    -moz-border-radius      : 3px;
    border-radius           : 3px;
}

button
{
    height                  : 18px; 
}

.button
{
    height                  : 15px;
}

button:hover , .button:hover
{
    background-position     : 0 50%;
}

button:active , .button:active
{
    background-position     : 0 100%;
    padding                 : 0 12px 3px 12px;
    margin-left             : 3px;
    margin-right            : 3px;
}

.absolute
{
    position                : absolute;
}

.relative
{
    position                : relative;
}

.control_right_top
{
    position                : absolute;
    top                     : 8px;
    right                   : 5px;
}

hr
{
    margin                  : 5px 0;
    height                  : 1px;
    color                   : #d0d0d0;
    background-color        : #d0d0d0;
    border                  : none;
}

    
div.error
{
    background              : url("../images/system/error.png") no-repeat scroll 10px 50% #FFD5D5;
    border                  : 1px solid #FFACAD;
    color                   : #CF3738;
    margin                  : 20px 0;
    padding                 : 10px 5px 10px 36px;
    
    -webkit-border-radius   : 6px;
    -moz-border-radius		: 6px;
    border-radius			: 6px;
}

div.success
{
    background              : url("../images/system/success.png") no-repeat scroll 10px 50% #C5F6FB;
    border                  : 1px solid #98C5EC;
    color                   : #096C7C;
    margin                  : 20px 0;
    padding                 : 10px 5px 10px 36px;
    
    -webkit-border-radius   : 6px;
    -moz-border-radius		: 6px;
    border-radius			: 6px;
}



div.main
{
    margin                  : 0 auto;
    width                   : 1000px;
}

    div.header > a img
    {
        margin              : 42px 0 0 30px;
    }
    
        div.header > div.right 
        {
            margin          : 10px 0 0 0px;
            width           : 600px;
        }
    
        
        div.header > div.right a[class]
        {
            width       : 100px;
            height      : 100px;
            display     : inline-block;
            background-repeat: no-repeat;
            line-height : 200px;
            text-align  : center;
        }

            div.header > div.right a[class]:hover , div.header > div.right a.selected
            {
                background-position     : 0 100%;
            }
            
            div.header > div.right a.selected
            {
                color                   : #ff0;
            }
            
            div.header > div.right  a.home
            {
                background-image        : url('../images/system/home.png');
            }
            
            div.header > div.right  a.translate
            {
                background-image        : url('../images/system/translate.png');
            }
            
            div.header > div.right  a.users
            {
                background-image        : url('../images/system/users.png');
            }
            
            div.header > div.right  a.group
            {
                background-image        : url('../images/system/group.png');
            }
            
            div.header > div.right  a.email
            {
                background-image        : url('../images/system/email.png');
            }
            
            div.header > div.right  a.stats
            {
                background-image        : url('../images/system/stats.png');
            }
            
            div.header > div.right  a.logs
            {
                background-image        : url('../images/system/logs.png');
            }
            
            div.header > div.right  a.shutdown
            {
                background-image        : url('../images/system/shutdown.png');
            }
            
            div.header > div.right  a.settings
            {
                background-image        : url('../images/system/settings.png');
            }
            


div.content
{
    min-height              : 250px;
    margin                  : 45px 0 10px 0;
    background-color        : #fff;
    padding                 : 20px;
    -webkit-border-radius   : 6px;
    -moz-border-radius		: 6px;
    border-radius			: 6px;
    position                : relative;
}

    div.content > table , 
    .google-visualization-table-table , 
    table.table,
    .admin_table
    {
        width               : 100%;
        margin              : 20px 0;
    }
    
        div.content > table td , 
        div.content > table th , 
        table.table td , table.table th , .google-visualization-table-table td , .google-visualization-table-table th
        {
            padding         : 5px;
            border          : 1px solid #ccc;
        }
        
        div.content > table > tbody > tr:first-child ,
        table.table > tbody > tr:first-child
        {
            background-color               : #333;
            font-size           : 14px;
            color               : #ccc;
        }
        
        div.content > table > tbody > tr:first-child td , table.table > tbody > tr:first-child td
        {
            text-align          : center;
        }
        
    div.content > table tr:nth-child(2n+1) , table.table  tr:nth-child(2n+1)
    {
        background-color        : #f4f4f4;
    }
    
    div.content > table tr:hover , table.table  tr:hover
    {
        background-color        : #d0e6ef;
    }
        

x-checkbox.rules , x-ajax-checkbox.rules
{
    width               : 24px;
    height              : 24px;
    background-image    : url('../images/system/no_access.png');
    background-repeat   : no-repeat;
}

x-checkbox.rules[state=checked] , x-ajax-checkbox.rules[state=checked]
{
    background-image    : url('../images/system/yes_access.png');
}

div.content label
{
    display             : block;
    margin-bottom       : 20px;
}

div.content label > input[type=text]
{
    width               : 100%;
}

fieldset
{
    padding             : 20px;
    border              : 1px solid #ccc;
}

legend
{
    color               : #000;
}

input[type=text]
{
    padding             : 2px 5px;
}

div.phobos
{
    position                : fixed;
    width                   : 400px;
    right                   : 0;
    bottom                  : 0;
    z-index                 : 666;
    background              : #000;
    opacity                 : 0.1;
    color                   : #fff;
    padding                 : 15px 10px 10px 10px;
    border                  : 1px solid #fff;
    color                   : #ff0;
    max-height              : 100%;
    overflow                : auto;
}

div.phobos:hover
{
    opacity                 : 1;
}

    div.phobos fieldset
    {
        padding             : 10px;
        margin              : 10px 0;
    }
    
        div.phobos fieldset legend
        {
            color           : #fff;
            padding         : 0 5px;
            cursor          : pointer;
        }
        
        div.phobos > div
        {
            display         : none;
        }
        
        div.phobos:hover > div
        {
            display         : block;
        }
        
a[order_type=DESC]:after
{
    content :     url("../images/system/up.gif");
    margin-left     : 5px;
}

a[order_type=ASC]:after
{
    content :     url("../images/system/down.gif");
     margin-left     : 5px;
}

x-dropdown.selector
{
    width           : 100%;
    display         : block;
}

x-dropdown.selector > x-dropdown-value
{
    -webkit-background-origin : content-box;
    -moz-background-origin    : content;
    background-origin         : content-box;
    padding                   : 3px;
}

x-dropdown.selector:hover > x-dropdown-value , x-dropdown.selector[active] > x-dropdown-value
{
    border          : 1px solid #333;
    padding         : 2px;
    background      : #FF1951 url("../images/system/expand.png") no-repeat scroll 100% 50%;
    color           : #fff;
}

x-dropdown.selector x-dropdown-list
{
    border          : 1px solid #000;
    background-color: #fff;
    padding         : 3px;
    margin          : 2px 0 0 0;
}

x-dropdown.selector x-dropdown-list x-option
{
    margin          : 2px 0;
}

x-dropdown.selector x-dropdown-list x-option:hover
{
    background-color        : #d0e6ef;
}

x-dropdown.selector x-dropdown-list x-option[checked]
{
    background-color        : #f4f4f4;
}

div.backend
{
    position                : fixed;
    right                   : 0;
    top                     : 35px;
    opacity                 : 0.7;
}

div.backend:hover
{
    opacity                 : 1;
}


.google-visualization-table-td-number , .google-visualization-table-seq
{
    text-align              : center !important;
}

table.counter > tbody
{
    counter-reset       : num1;
}

    table.counter > tbody > tr:before
    {
        display             : table-cell;
        counter-increment   : num1;
        content             : counter(num1);
        vertical-align      : middle;
    }

    
    
.mar_top_20
{
    margin-top              : 20px !important;
}

.mar_top_15
{
    margin-top              : 15px !important;
}

.mar_top_10
{
    margin-top              : 10px !important;
}

.mar_hor_5
{
    margin-top              : 5px !important;
    margin-bottom           : 5px !important;
}

.mar_hor_10
{
    margin-top              : 10px !important;
    margin-bottom           : 10px !important;
}

.mar_hor_15
{
    margin-top              : 15px !important;
    margin-bottom           : 15px !important;
}

.mar_hor_20
{
    margin-top              : 20px !important;
    margin-bottom           : 20px !important;
}

.mar_top_5
{
    margin-top             : 5px !important;
}

.mar_bottom_5
{
    margin-bottom          : 5px !important;
}

.mar_bottom_10
{
    margin-bottom          : 10px !important;
}

.mar_bottom_15
{
    margin-bottom          : 15px !important;
}


.mar_bottom_20
{
    margin-bottom          : 20px !important;
}

.mar_left_5
{
    margin-left             : 5px !important;
}

.mar_right_5
{
    margin-right           : 5px !important;
}


table.models
{
    border-collapse             : separate;
    border-spacing              : 2px;
}

table.models thead td
{
    background-color            : #030303;
    color                       : rgba(255,255,255,0.6);
    font-family                 : Kelson_sans;
}

    table.models td,
    table.models th
    {
        padding             : 5px;
    }
    
    table.models td
    {
        text-align          : center;
        
        -webkit-border-radius	: 2px;
        -moz-border-radius      : 2px;
        border-radius           : 2px;
    }
    
table.models tbody tr:nth-child(2n-1) td
{
    background-color            : #e4e4e4;
}

table.models tbody tr:nth-child(2n) td
{
    background-color            : #ccc;
}

table.models .model_row + .model_row
{
    margin-top                  : 3px;
}

    table.models .model_row + .model_row span.price
    {
        background-color        : #80C200;
    }